<div class="form-field">
    <label>Registration Amount:</label>
    <div>
        <label>@LrrState.AuctionDetails.FmtWhiteValue</label>
    </div>
</div>

<div class="form-field">
    <label>Cash Payment (Black):</label>
    <div>
        <label>@LrrState.AuctionDetails.FmtBlackValue</label>
    </div>
</div>

<div class="form-field">
    <label>Auction End Date:</label>
    <div>
        <label>@LrrState.AuctionDetails.EndDate.ToString("dd/MMM/yyyy")</label>
    </div>
</div>

<div class="form-field">
    <label>Auction Starting Value:</label>
    <div>
        <label>@LrrState.AuctionDetails.FmtStartingValue</label>
    </div>
</div>

<div class="form-field">
    <label>Auction Step Value:</label>
    <div>
        <label>@LrrState.AuctionDetails.FmtStepValue</label>
    </div>
</div>

<div class="form-field">
    <label>HighestBid Value Index:</label>
    <div>
        <label>@LrrState.InputData.HighestBidIndex</label>
    </div>
</div>

<div class="form-field">
    <label>Decision:</label>
    <div>
        <label>@LrrState.InputData.Decision</label>
    </div>
</div>


@code {
    [Parameter] public Lrr.Shared.LrrState LrrState { get; set; } 
}
