


<h3>GiveUpPaymentSchedule</h3>
<table class="table">
        <thead>
            <tr>
                <th> </th>
                <th>Pay</th>
                <th>Receive</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bidder Purchase price</td>
                <td>₹ @Lrr.Shared.AuctionDetails.FmtIntVal( LrrState.GiveUpPaymentSchedule.BidderPay)</td>
                <td></td>
            </tr>
            <tr>
                <td>Bidder Fees</td>
                <td>₹ @Lrr.Shared.AuctionDetails.FmtIntVal( LrrState.GiveUpPaymentSchedule.BidderFees)</td>
                <td></td>
            </tr>

            <tr>
                <td>Provisional Buyer Capital Refund</td>
                <td></td>
                <td>₹ @Lrr.Shared.AuctionDetails.FmtIntVal( LrrState.GiveUpPaymentSchedule.ProvBuyerCapitalRefund)</td>
            </tr>
            <tr>
                <td>Provisional Buyer Fees Refund</td>
                <td></td>
                <td>₹ @Lrr.Shared.AuctionDetails.FmtIntVal( LrrState.GiveUpPaymentSchedule.ProvBuyerFeesRefund)</td>
            </tr>

            <tr>
                <td>Provisional Buyer Compensation</td>
                <td></td>
                <td>₹ @Lrr.Shared.AuctionDetails.FmtIntVal( LrrState.GiveUpPaymentSchedule.ProvBuyerIncentive)</td>
            </tr>

            <tr>
                <td>Original seller Additional Profit </td>
                <td></td>
                <td>₹ @Lrr.Shared.AuctionDetails.FmtIntVal( LrrState.GiveUpPaymentSchedule.OriginalSellerProfit)</td>
            </tr>
            <tr>
                <td>Broker Additional fee</td>
                <td></td>
                <td>₹ @Lrr.Shared.AuctionDetails.FmtIntVal( LrrState.GiveUpPaymentSchedule.BrokerReceive)</td>
            </tr>
            <!--
            <tr>
                <td>Government Extra Tax Income</td>
                <td></td>
                <td>₹ @Lrr.Shared.AuctionDetails.FmtIntVal( LrrState.GiveUpPaymentSchedule.GovernmentExtraTax)</td>
            </tr>-->
            <tr>
                <td>Government Residual Profit</td>
                <td></td>
                <td>₹ @Lrr.Shared.AuctionDetails.FmtIntVal( LrrState.GiveUpPaymentSchedule.GovernmentAddlProfit)</td>
            </tr>

        </tbody>
    </table>

@code {
    [Parameter] public Lrr.Shared.LrrState LrrState { get; set; }
}
