<h3>MatchPaymentSchedule</h3>

<table class="table reportTable">
        <thead class="reportHead">
            <tr>
                <th>Person</th>
                <th>Description</th>
                <th>Pay</th>
                <th>Receive</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Provisional Buyer</td>
                <td>Additional capital</td>
                <td>₹@Lrr.Shared.AuctionDetails.FmtIntVal( LrrState.MatchPaymentSchedule.ProvBuyerAddCapital)</td>
                <td></td>
                <td class="td-notes" >@($"(New price {Lrr.Shared.AuctionDetails.FmtIntVal(LrrState.GiveUpPaymentSchedule.BidderPay)} - Old reigstration amount {LrrState.AuctionDetails.FmtWhiteValue} )")</td>
            </tr>
            <tr class="tr-alice">
                <td>Provisional Buyer</td>
                <td>Additional fee</td>
                <td>₹@Lrr.Shared.AuctionDetails.FmtIntVal( LrrState.MatchPaymentSchedule.ProvBuyerAddCapitalFee)</td>
                <td></td>
                <td class="td-notes" >@($"(New price {Lrr.Shared.AuctionDetails.FmtIntVal(LrrState.GiveUpPaymentSchedule.BidderPay)} - Old reigstration amount {LrrState.AuctionDetails.FmtWhiteValue} ) * (Stamp charge rate {LrrState.Configuration.StampChargePercentage} + Registraion rate {LrrState.Configuration.RegistrationChargePercentage})")</td>
            </tr>
            <tr>
                <td>Original seller</td>
                <td>Additional Profit </td>
                <td></td>
                <td>₹@Lrr.Shared.AuctionDetails.FmtIntVal( LrrState.MatchPaymentSchedule.OriginalSellerProfit)</td>
                <td class="td-notes" >@($"(New price {Lrr.Shared.AuctionDetails.FmtIntVal(LrrState.GiveUpPaymentSchedule.BidderPay)} - Old reigstration amount {LrrState.AuctionDetails.FmtWhiteValue} ) * (Seller Incentive ratio {LrrState.Configuration.MatchSellerIncentiveRatio})")</td>
            </tr>
            <tr class="tr-alice">
                <td>Broker </td>
                <td>Additional Brokerage</td>
                <td></td>
                <td>₹@Lrr.Shared.AuctionDetails.FmtIntVal( LrrState.MatchPaymentSchedule.BrokerReceive)</td>
                <td class="td-notes" >@($"(New price {Lrr.Shared.AuctionDetails.FmtIntVal(LrrState.GiveUpPaymentSchedule.BidderPay)} - Old reigstration amount {LrrState.AuctionDetails.FmtWhiteValue} ) * (Brokerage {LrrState.Configuration.Brokerage})")</td>
            </tr>
            <tr>
                <td>Highest Bidder</td>
                <td>Incentive</td>
                <td></td>
                <td>₹@Lrr.Shared.AuctionDetails.FmtIntVal( LrrState.MatchPaymentSchedule.BidderIncentive)</td>
                <td class="td-notes" >@($"(New price {Lrr.Shared.AuctionDetails.FmtIntVal(LrrState.GiveUpPaymentSchedule.BidderPay)} - Old reigstration amount {LrrState.AuctionDetails.FmtWhiteValue} ) * (Bidder incentive {LrrState.Configuration.MatchBidderIncentiveRatio})")</td>
            </tr>
            <!--<tr>
                <td>Government</td>
                <td>Extra Tax Income</td>
                <td></td>
                <td>₹@Lrr.Shared.AuctionDetails.FmtIntVal( LrrState.MatchPaymentSchedule.GovernmentExtraTax)</td>
                <td class="td-notes" >@($"")</td>
            </tr> -->
            <tr class="tr-alice">
                <td>Government</td>
                <td>Residual profit</td>
                <td></td>
                <td>₹@Lrr.Shared.AuctionDetails.FmtIntVal( LrrState.MatchPaymentSchedule.GovernmentAddlProfit)</td>
                <td class="td-notes" >@($"(New price {Lrr.Shared.AuctionDetails.FmtIntVal(LrrState.GiveUpPaymentSchedule.BidderPay)} - Old reigstration amount {LrrState.AuctionDetails.FmtWhiteValue} )  - (other incentives)")</td>
            </tr>

        </tbody>
    </table>

@code {
    [Parameter] public Lrr.Shared.LrrState LrrState { get; set; }
}
