

<table class="reportTable">
        <thead class="reportHead">
            <tr  >
                <th class="td-report" colspan="2" > Registration input</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Purchase Value:
                </td>
                <td>
                    ₹<InputNumber class="formatinput" style="width:13ch" id="PurchaseValue" @bind-Value="PurchaseValue"    />
                </td>
            </tr>
            <tr class="tr-alice">
                <td>
                    White / Black Ratio:
                </td>
                <td>
                    <InputNumber class="formatinput" style="width:6ch" id="HighestBidValue" @bind-Value="WhiteBlackRatio"   />%
                    <span style="font-size: 10px;">between 1 and 100</span>
                </td>
            </tr>

            <tr>
                <td>
                    Registration Date:
                </td>
                <td>
                    <InputDate class="formatinput" @bind-Value="RegistrationDate" @bind-Value:format="dd-MM-yyyy"   />
                </td>
            </tr>
        </tbody>
</table>

<br />

<table class="reportTable">
        <thead class="reportHead">
            <tr  >
                <th class="td-report" colspan="3" > Registration detail</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Registration Amount:
                </td>
                <td>
                    ₹@LrrState.AuctionDetails.FmtWhiteValue
                </td>
                <td class="td-notes" >@($"(purchase value ${LrrState.InputData.PurchaseValue} ) * (white black ratio ${LrrState.InputData.WhiteBlackRatio} )/ 100.0")</td>
            </tr>
            <tr class="tr-alice">
                <td>
                    Cash Payment (Black):
                </td>
                <td>
                    ₹@LrrState.AuctionDetails.FmtBlackValue
                </td>
                <td class="td-notes" >@($"(purchase value ${LrrState.InputData.PurchaseValue} ) * (100.0 - white black ratio ${LrrState.InputData.WhiteBlackRatio} / 100.0 )")</td>
            </tr>
        </tbody>
</table>
<br />

<table class="reportTable">
        <thead class="reportHead">
            <tr  >
                <th class="td-report" colspan="3" > Auction detail</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Auction End Date:
                </td>
                <td>
                    @LrrState.AuctionDetails.EndDate.ToString("dd/MMM/yyyy")
                </td>
                <td class="td-notes" >@($"Registration date + (auction duration {LrrState.Configuration.AuctionDuration} months) ")</td>
            </tr>
            <tr class="tr-alice">
                <td>
                    Auction starting value:
                </td>
                <td>
                    ₹@LrrState.AuctionDetails.FmtStartingValue
                </td>
                <td class="td-notes" >@($"(purchase value ${LrrState.InputData.PurchaseValue} ) * (Auction starting value multiple ${LrrState.Configuration.StartingValueMultiple})")</td>
            </tr>

            <tr>
                <td>
                    Auction step value:
                </td>
                <td>
                    ₹@LrrState.AuctionDetails.FmtStepValue
                </td>
                <td class="td-notes" >@($"(purchase value ${LrrState.InputData.PurchaseValue} ) * (Auction step value multiple ${LrrState.Configuration.StepValueMultiple})")</td>
            </tr>
        </tbody>
</table>

<br />
<table class="reportTable">
        <thead class="reportHead">
            <tr  >
                <th class="td-report" colspan="3" > Auction decisions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Highest Bid Value:
                </td>
                <td>
                    <select class="formatinput" @bind="HighestBidIndex"  >
                        <option value=-1 >-- Select --</option>
                        @foreach (var item in LrrState.AuctionDetails.ValidAuctionBidValues)
                       {
                           <option value=@item.Key >@item.Value</option>
                       }
                    </select>
                </td>
            </tr>
            <tr class="tr-alice">
                <td>
                    Provisional buyer's decision:
                </td>
                <td>
                    <select class="formatinput" @bind="Decision"  >
                        <option value=@Lrr.Shared.DecisionEnum.None > None </option>
                        @if (LrrState.InputData.HighestBidIndex > -1)
                            {
                                <option value=@Lrr.Shared.DecisionEnum.MatchHighestBid  > Match highest Bid</option>
                                <option value=@Lrr.Shared.DecisionEnum.GiveUpToHighestBid > GiveUp to highest Bid</option>
                            }
                    </select>
                </td>
            </tr>
        </tbody>
</table>

@code {


    [Parameter,EditorRequired] public Lrr.Shared.LrrState LrrState { get; set; }

    [Parameter, EditorRequired] public Action RefreshScreen { get; set; }


    public int PurchaseValue
    {
        get { return LrrState.InputData.PurchaseValue; }
        set
        {
            if (value < 1)
                return;
            if (LrrState.InputData.PurchaseValue != value) {
                LrrState.InputData.PurchaseValue = value;
                ReCalculateValues();
            }
        }
    }

    public int WhiteBlackRatio
    {
        get { return LrrState.InputData.WhiteBlackRatio; }
        set
        {
            if (value > 100 || value < 0)
                return;

            if (LrrState.InputData.WhiteBlackRatio != value) {
                LrrState.InputData.WhiteBlackRatio = value;
                ReCalculateValues();
            }
        }
    }

    public DateOnly RegistrationDate
    {
        get { return LrrState.InputData.RegistrationDate; }
        set
        {
            if (LrrState.InputData.RegistrationDate != value) {
                LrrState.InputData.RegistrationDate = value;
                ReCalculateValues();
            }
        }
    }

    public int HighestBidIndex
    {
        get { return LrrState.InputData.HighestBidIndex; }
        set
        {
            if (LrrState.InputData.HighestBidIndex != value) {
                LrrState.InputData.HighestBidIndex = value;

                if (HighestBidIndex < 0)
                    Decision = Lrr.Shared.DecisionEnum.None;

                ReCalculateValues();
            }
        }
    }

    public Lrr.Shared.DecisionEnum Decision
    {
        get { return LrrState.InputData.Decision; }
        set
        {
            if (LrrState.InputData.Decision != value) {
                LrrState.InputData.Decision = value;
                ReCalculateValues();
            }
        }
    }

    private void ReCalculateValues()
    {
        
        LrrState.CalculateValues();
        if (RefreshScreen != null)
            RefreshScreen();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
            ReCalculateValues();
    }
}
